@font-face {
	font-family: 'Raleway';
	src: url('static/Raleway-Medium.ttf');
	font-style: normal;

}

ul {
list-style-type: none;
}

*{
	font-family: 'Raleway', "Arial Black", Arial;
}

h1
{
	font-size: 1em;
	/*mettre taille en em*/
}

p
{
	font-size: 0.8em
}

.nav 
{
	display: flex;
	justify-content: flex-end;
	/*mettre en haut a gauche en ligne*/
}
nav li
{
	display: flex;
	margin-right: 50px;
}
