@font-face {
	font-family: 'Raleway';
	src: url('static/Raleway-Medium.ttf');
	font-style: normal;

}

ul {
list-style-type: none;
}

*{
	font-family: 'Raleway', "Arial Black", Arial;
}

h1
{
	font-size: 1em;
	/*mettre taille en em*/
}

h2
{
	font-size: 0.9em;
}

p
{
	font-size: 0.8em
}

.nav 
{
	display: flex;
	justify-content: flex-end;
	/*mettre en haut a droite*/
}

.S
{
	color: #0065FC;
	font-weight: bold;
}
.nav :hover
{
	color:  #0065FC;
}

.filtres
{
	display: flex;
}
nav li
{
	display: flex;
	margin-right: 50px;
}

section li
{
	margin-left: 60px;
}

.F
{
	/*chercher pour coller Filtres a gauche de la page*/
}